*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color:hsl(216, 12%, 8%);
    font-family: 'Overpass', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    background: linear-gradient(to bottom, hsl(213, 19%, 18%),hsl(216, 12%, 8%));
    width: 400px;
    height: 400px;
    border-radius: 16px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icon img {
    background-color: hsl(216, 9%, 21%)   ;
    padding: 16px;
    border-radius: 999px;
}

.detail h3 {
    color: #fff;
    margin-bottom: 8px;
    font-weight: 400;
    font-size:28px;
    
}

.detail p {
    color: hsl(216, 12%, 54%);
    font-size: 15px;
}

.numbers {
    display: flex;
    justify-content: space-between;
}

.number{
    
    width: 41px;
    height: 40px;
    background-color: hsl(213, 19%, 18%);
    padding: 24px;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsl(216, 12%, 54%);
}

.submit{
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: hsl(25, 97%, 53%);
    padding: 12px;
    border-radius: 64px;
    font-weight: 700;
    cursor: pointer;
}